<nav class="navbar">
    <div class="brand">
        <a href="/">TaskFlow</a>
    </div>
    <div class="nav-links">
        <% if (locals.user) { %>
            <% console.log("user", user) %>
            
            <a href="/dashboard">Dashboard</a>
            <a href="/projects">Projects</a>
            <span style="margin-left: 15px;">Welcome, <%= user.name %>!</span>
            <a href="/auth/logout" class="btn btn-danger" style="padding: 5px 10px; margin-left: 15px;">Logout</a>
        <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign Up</a>
        <% } %>
    </div>
</nav>
